<div>
  <p>Full name: <a href="/authors/<%=author.id %>?<%=author.fullname %>"><%= author.fullname %></a></p>
  <p>Books: <%= author.books %></p>
  <a href="/authors/editAuthor/<%= author.id %>"><button>Edit</button></a>
  <a href="/remove/<%= author.id%>.authors"><button>Remove</button></a>
</div>