<div>
  <p>Title: <%= book.title %></p>
  <p>Author: <a href="/authors/<%=book.author_id %>?<%=book.fullname %>"><%= book.fullname %></a></p>
  <p>Year: <%= book.year %></p>
  <p>Pages: <%= book.pages %></p>
  <div class="itemTags">
    <% if(book.array_agg){ %>
    <p>Tags: </p>
    <% book.array_agg.forEach((cat) =>{ %>
    <a href="/tag/<%=cat%>"><%=cat%></a>
    <%})%>
    <% } %>
  </div>


  <a href="/editBook/<%= book.id %>"><button>Edit</button></a>
  <a href="/remove/<%= book.id%>.books"><button>Remove</button></a>
</div>