<%-include('partials/head', title)-%>

<body>
  <%-include('partials/header') -%>
  <main>
    <p>Books By: <%= author.fullname %></p>
    <hr />
    <br />
    <div class="content">
      <% books.map((book) =>{ %>
      <%- include('partials/bookCard', {book: book}) -%>
      <hr />
      <br />
      <%})%>
    </div>
  </main>
  <%-include('partials/footer') -%>
</body>