<%-include('partials/head', title)-%>

<body>
  <%-include('partials/header') -%>
  <main>
    <div class="form">
      <% if(action === "update"){ %>
      <form action="/updateBook/<%=book.id%>" method="POST">
        <%}else if(action === "add"){%>
        <form action="/createBook" method="POST">
          <%}%>
      <label for="authorid">Author: </label>
      <select id="authorid" name="authorid" required>
        <option value="">None</option>
        <% authors.map((author) =>{ %>
          <% if(book.author_id === author.id){ %>
          <option value="<%= author.id %>" selected><%= author.firstname %> <%= author.lastname %></option>
          <%}else{ %>
          <option value="<%= author.id %>"><%= author.firstname %> <%= author.lastname %></option>
          <%} %>
          <%})%>
          </select>
          <label for="title">Title: </label>
          <input type="text" name="title" id="title" value="<%=book.title %>" required />
          <label for="year">Year: </label>
          <input type="number" name="year" id="year" value="<%=book.year %>" required />
          <label for="pages">Pages: </label>
          <input type="number" name="pages" id="pages" value="<%=book.pages %>" required />

          <label for="categories">Tags list: </label>
          <select name="categories[]" id="categories" multiple>
            <% if(action === "update"){ %>
              <% categories.map((cat, catIndex) => { %>

                <% isSelected = false %>
                <% if(book.array_agg){ %>
                  <% book.array_agg.map((bc) =>{ %>
                    <% if (bc === cat.name){ %>
                      <% isSelected = true %>
                    <% } %>
                  <% }) %>
                <% } %>
                
                <% if(cat.name != "None"){ %>
                  <option value="<%=cat.id%>" <%= isSelected && `selected` %>><%=cat.name %></option>
                <% } %>
              <% }) %>
            <% }else if(action === "add"){ %>
              <% categories.map((cat) => { %>
                <% if(cat.name != "None"){ %>
                  <option value="<%=cat.id%>"><%=cat.name %></option>
                <% } %>
                
              <% }) %>
            <% } %>
          </select>

          <button type="submit">
            <%if(action === "update"){ %>
            Confirm Edit
            <%}else if(action === "add"){ %>
            Add Book
            <% } %>
          </button>
        </form>
    </div>
    <%- include("partials/errors") %>
  </main>
  <%-include('partials/footer') -%>
</body>