<%-include('partials/head', title)-%>

<body>
  <%-include('partials/header') -%>
  <main>
    <div class="tags">
      <p>Tags: </p>
      <% categories.map((cat) => { %>
        <a href="/tag/<%= cat.name %> "><%= cat.name %></a>
      <% }) %>
      <a href="/addTag"><button>New Tag</button></a>
    </div>
    <div class="content">
      <% books.map((book) =>{ %>
      <%- include('partials/bookCard', {book: book}) -%>
      <hr />
      <br />
      <%})%>
    </div>
  </main>
  <%-include('partials/footer') -%>
</body>